* {
  box-sizing: border-box;
}

/* Start Navigation Bar */

.navbar {
  width: 1005;
  max-width: 820px;
  margin: 20px auto 0;
}

.navbar .menu {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 2rem;
  margin-top: 0;
}

@media (max-width: 820px) {
  .navbar .menu {
    display: block;
    position: relative;
  }
}

.navbar .menu li {
  display: flex;
  text-align: center;
  transition: background-color 0.5s ease;
}

.navbar .menu a {
  justify-content: center;
  display: inline-flex;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem;
  position: relative;
}

.navbar .menu a > .fa {
  font-weight: bold;
  margin-left: 1rem;
}

.navbar li a:hover {
  color: #44d62c;
}

.navbar .menu li:hover .container {
  display: flex;
}

@media (max-width: 820px) {
  .navbar .menu li:hover .container {
    display: none;
  }

  .fa-angle-down {
    display: none;
  }
}

a.has-dropdown:after {
  position: relative;
  z-index: 2;
}

@media (max-width: 820px) {
  li:hover a.has-dropdown:after {
    display: none;
  }
}

li:hover a.has-dropdown:after {
  content: "";
}

/* End Navigation Bar */

/* Start Single Section Menu */

.container {
  width: 22%;
  display: none;
  position: absolute;
  margin-top: 3rem;
  border: 2px solid #000;
  background: url(../img/full-background.png);
  transform: translate(-11%, 0%);
  text-align: center;
  margin-bottom: 30px;
  align-items: center;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}

.container-list-item {
  flex-basis: 1 1 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: hidden;
  text-decoration: none;
}

/* End Single Section Menu */

/* Start Multiple Section Menu */

/* End Multiple Section Menu */
